body {
  width: 1024px;
  font: 16px Verdana, sans-serif; color: #666; 
  line-height: 200%;
 
}

h1 {
  font: 15px;
  padding: 25px;
  margin:  5px;
}

h2 {
  font: 24px; color:#f07c17;
  letter-spacing: 0.1em;
  margin-bottom: 31px;  
}

.boxed {
  margin: 0px;
  padding: 20px;
  border: 0px solid #666;
}
